---
layout: page
title: Local Office Day 2015
---
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9478.931682731401!2d9.959843000000006!3d53.562535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b18f691b79e6bb%3A0xcd378c10a85d5041!2sbetahaus+-+coworking+hamburg!5e0!3m2!1sen!2sde!4v1428585703083" height="450" frameborder="0" style="border:0"></iframe>
</p>

<header class="lod-title">
	<h1 class="title">{{ page.title }}</h1>
	<h2>Spring 2015</h2>
</header>


<section class="track time">
	<h3>&nbsp;</h3>
	<article data-duration="60"><h3>12:00</h3></article>
	<article data-duration="60"><h3>13:00</h3></article>
	<article data-duration="60"><h3>14:00</h3></article>
	<article data-duration="60"><h3>15:00</h3></article>
	<article data-duration="60"><h3>16:00</h3></article>
	<article data-duration="60"><h3>17:00</h3></article>
	<article data-duration="60"><h3>18:00</h3></article>
</section>
{% for nr in (1..4) %}
<section class="track" data-track="{{ nr }}">
	<div class="passed"></div>
	{% case nr %}
	{% when 1 %}
		<h3>Communities / Ops</h3>
	{% when 2 %}
		<h3>Developer / Tech</h3>
	{% when 3 %}
		<h3>Crypto / Security in our DNA</h3>
	{% when 4 %}
		<h3>Hack & make</h3>
	{% endcase %}

	{% capture room %}room {{nr}}{% endcapture %}
	{% for post in site.categories.session reversed %}
		{% if post.room == 'full' or post.room == room or post.room == 'room 1-3' and nr != 4%}
			<span class="time">{{ post.date | date: "%H:%M" }}</span>
			{% if post.empty %}
				<article class="empty" data-duration="{{ post.duration }}"></article>
			{% else %}
				<article data-duration="{{ post.duration }}" data-room="{{ post.room }}">
					{% if post.permalink != null %}
						<h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
					{% else %}
						<h3 onclick="window.location.href='{{ post.url }}'">{{ post.title }}</h3>
					{% endif %}
					<span class="presenter">{{ post.presenters }}</span>
					{% if post.duration > 30 %}
						<p class="summary">{{ post.summary }}</p>
					{% endif %}
				</article>
			{% endif %}
		{% endif %}
	{% endfor %}
</section>
{% endfor %}

<script type="text/javascript">
	var date = new Date;
	var minutes = date.getMinutes();
	var hour = date.getHours() % 12;

	$('.passed').css('top', ((hour + (minutes / 60)) * 220) + 'px');
</script>