---
layout: page
title: Local Office Day
---
<div class="schedule">
	<h1 class="title">{{ page.title }}</h1>

	<section id="satur" class="day">
		<header>
			<h2>Spring 2015</h2>
			<span data-room="room-1">Communities / Ops</span>
			<span data-room="room-2">Developer / Tech</span>
			<span data-room="room-3">Security in our DNA / Crypto</span>
			<span data-room="room-4">Hack & make</span>
		</header>

		{% for post in site.categories.session reversed %}
			{% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
			{% if day == 'Friday' %}
				{% include schedule-day.html %}
			{% endif %}
		{% endfor %}

	</section>

</div><!-- .schedule -->

<!--
<table>
	<tr><th>Communities / Ops</th><th>Developer / Tech</th><th>Crypto / Security in our DNA</th><th>Hack & make</th></tr>
{% for event in site.data.LOD-Schedule %}
  <tr>
      <td>{{ event.Time }}</td><td>{{ event['Communities / Ops'] }}</td><td>{{ event['Developer / Tech'] }}</td><td>{{ event['Crypto / Security in our DNA'] }}</td><td>{{ event['Hack & make'] }}</td>
  </tr>
{% endfor %}
</table>
-->