---
layout: page
title: Local Office Day
---
<h1 class="title">{{ page.title }}</h1>
<h2>Spring 2015</h2>

<section class="track time">
	<h3>&nbsp;</h3>
	<article data-duration="60"><h3>12:00</h3></article>
	<article data-duration="60"><h3>13:00</h3></article>
	<article data-duration="60"><h3>14:00</h3></article>
	<article data-duration="60"><h3>15:00</h3></article>
	<article data-duration="60"><h3>16:00</h3></article>
	<article data-duration="60"><h3>17:00</h3></article>
	<article data-duration="60"><h3>18:00</h3></article>
</section>
{% for nr in (1..4) %}
<section class="track">
	{% case nr %}
	{% when 1 %}
		<h3>Communities / Ops</h3>
	{% when 2 %}
		<h3>Developer / Tech</h3>
	{% when 3 %}
		<h3>Crypto / Security in our DNA</h3>
	{% when 4 %}
		<h3>Hack & make</h3>
	{% endcase %}

	{% capture room %}room {{nr}}{% endcapture %}
	{% for post in site.categories.session reversed %}		
		{% if post.room == 'full' or post.room == room or post.room == 'room 1-3' and nr != 4%}
			<span class="time">{{ post.date | date: "%H:%M" }}</span>
			<article data-duration="{{ post.duration }}">
				{% if post.permalink != null %}
					<h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
				{% else %}
					<h3>{{ post.title }}</h3>
				{% endif %}
				<span class="presenter">{{ post.presenters }}</span>
			</article>
		{% endif %}
	{% endfor %}
</section>
{% endfor %}
