<article class="session"
				 data-room="{{ post.room | downcase | replace:' ','-' }}"
				 data-track="{{ post.track | downcase | replace:' ','-' }}"
				 data-difficulty="{{ post.difficulty | downcase | replace:' ','-' }}"
				 onclick="window.location='{{ post.permalink }}'">
	<h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>

	{% if post.presenters != null %}
		<p class="meta">
			<span class="presenters">{{ post.presenters }}</span>
			<span class="room">in {{ post.room }}</span>
		</p>
	{% endif %}

</article>
