$slot: 28px
$gap: 5px

.single-track	
	position: relative
	display: none
	height: 100%
	background-color: $blue
	overflow: hidden
	
	h1
		font-size: 3.5em
		text-align: center
		padding: 20px 0
	h3
		display: inline
		margin-right: 10px

	.time
		font-size: 1.3em

	> article 
		background: #fff
		color: $cyan
		padding: 5px 10px
		margin: 0 10% $gap 10%
		border-radius: 12px

	// durations
	> article[data-duration="15"]
		height: 1 * $slot - $gap
	> article[data-duration="30"]
		height: 2 * $slot - $gap
	> article[data-duration="45"]
		height: 3 * $slot - $gap
	> article[data-duration="60"]
		height: 4 * $slot - $gap
	> article[data-duration="75"]
		height: 5 * $slot - $gap
	> article[data-duration="90"]
		height: 6 * $slot - $gap
	> article[data-duration="105"]
		height: 7 * $slot - $gap
	> article[data-duration="120"]
		height: 8 * $slot - $gap
	> article[data-duration="240"]
		height: 16 * $slot - $gap
	> article[data-duration="270"]
		height: 18 * $slot - $gap


