.single-track	
	position: relative
	display: none
	height: 100%
	background-color: $blue
	overflow: hidden
	
	h1
		font-size: 3.5em
		text-align: center
		padding: 20px 0
	h3
		display: inline
		margin-right: 10px

	.time
		font-size: 1.3em

	> article 
		background: #fff
		color: $cyan
		padding: 5px 10px
		margin: 0 10% 5px 10%
		border-radius: 12px

article[data-duration="15"]
	height: 50px
article[data-duration="30"]
	height: 105px
article[data-duration="45"]
	height: 160px
article[data-duration="60"]
	height: 215px
article[data-duration="75"]
	height: 270px
article[data-duration="90"]
	height: 325px
article[data-duration="105"]
	height: 380px
article[data-duration="120"]
	height: 435px
article[data-duration="240"]
	height: 875px
article[data-duration="270"]
	height: 985px
