
$cyan: rgb(128, 201, 210)
$blue: #35C5D5
$half: 50%

.screenly-presentation
  display: none

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  font-family: 'Open Sans'
  letter-spacing: -.06em
  line-height: 1.8em

h1, h2, p
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em

html,
body,
main
  height: 100%

body
  margin: 0
  width: 100%

.screenly-presentation
  position: absolute
  width: 100%
  height: 100%
  > .container
    position: absolute
    width: 100%
    height: 100%
    > .left, 
    > .right
      position: absolute
      width: $half
      padding: 0 5%
    > .left
      left: 0
      height: 100%
      text-align: right
    > .right
      right: 0
      bottom: 0

.left > .container.now
  position: absolute
  top: 2%
  left: 0
  width: 100%

.left > .container.next
  position: absolute
  bottom: 2%
  left: 0
  width: 100%

.left > .container
  color: #fff
  display: inline-block
  > h1
    font-size: 6em
    line-height: .8em
    margin: 0 6px
    text-transform: uppercase
  > h2
    font-size: 4em
    line-height: .8em
    font-style: italic
    font-weight: 300
    margin: 6px
  > h3
    font-size: 3em
    line-height: .8em
    font-style: italic
    font-weight: 300
    margin: 6px

.screenly-presentation
  .right
    color: $cyan
  .desc
    position: relative
    bottom: 0
    margin-left: 20px
    line-height: .9em
    font-size: 1.2em
    > h2
      font-size: 1.5em
      font-style: none
      font-weight: 600
      line-height: .8em 
      margin-top: 40px
      text-transform: uppercase
    > p
      font-size: 1.3em
  dl
    display: table
    dt
      font-size: 1.3em
      display: inline
    dd
      font-size: 2em
      font-weight: 400
      margin-left: 8px
      display: inline 
      em
        font-weight: 200
        margin-left: 10px


.other
  padding-top: 50px

.back1, .back2
  position: absolute
  height: 100%
  width: $half
  z-index: -1
.back1
  background: $cyan
.back2
  background: $blue
//  -webkit-animation: blend-in 5s infinite linear 
@-webkit-keyframes blend-in
  0%
    width: 0
    opacity: 1
  60%
    width: $half
    opacity: 1
  65%
    width: $half
    opacity: 1
  95%
    width: $half
    opacity: 0
  100%
    opacity: 0
    width: 0